/* BRAND */

:root {
    --pink: #f20091;
    --coral: #ff4d4d;
    --yellow: #edff00;
    --green: #008c00;
    --blue: #143cc8;
}

* {
    font-family: 'Libre Baskerville', serif;
}

p, li {
    font-size: 14px;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5;
}

/*  FONTS INSTALLED
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;       regular - body copy
    font-style: italic;     regular italics - quotes
    font-weight: 700;       bold - titles and emphasis
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;     regular - use sparingly
    font-weight: 500;     medium - titles
    font-weight: 600;     bold - for emphasis
    font-weight: 700;     black - use sparingly
*/

a {
    color: var(--pink);
    text-decoration: none;
}


/* BODY */

.page-container {
    max-width: 1600px;
    margin: auto;
    padding: 0 100px;
}


/* BUTTONS */

.primary-button, .secondary-button {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px;
}

.primary-button {
    background-color: var(--yellow);
    border: 2px solid white;
    color: black;
    font-weight: 700;
}

.secondary-button {
    background-color: black;
    color: var(--yellow);
    border: 2px solid white;
    font-weight: 600;
}

.primary-button:hover, .secondary-button:hover {
    background-color: var(--pink);
}

.primary-button:hover {
    color: var(--yellow);
}


/* FORMS */

.login-wrapper, .register-wrapper {
    min-width: 300px;
    max-width: 300px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
  }

.login-wrapper {
    background-image: url(./images/bookmark_login.png);
}

.register-wrapper {
    background-image: url(./images/bookmark_register.png);
}

.demo-login, .demo-register {
    margin-bottom: 80px;
}


.form-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-instructions {
    color: white;
}

.form-errors {
    margin: 5px 0 15px;
    font-weight: 700;
    font-size: 16px;
    color: var(--yellow);
    width: 250px;
}

.form-input {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 250px;
    margin: 10px 0;
    padding: 5px 10px;
}

.form-submit{
    /* margin: 15px; */
}

.demo-user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-user-text {
    /* margin-block-start: 0; */
    margin-block-end: 5px;
}
