/* HEADER */

nav {
    height: 100px;
    background-color: black;
}

.nav-container {
    height: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1600px;
    margin: auto;
    align-items: center;
}

.left-nav-div {
    grid-column-start: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
}

.navbar-logo {
    width: 400px;
}

.right-nav-div {
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

.navbar-link {
    width: 120px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.navbar-link-text {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.navbar-link-text:hover {
    color: var(--pink);
}


/* FOOTER */

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 40px 0 0;
    padding: 20px 50px;
}

.footer-name {
    font-size: 18px;
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

.footer-icon-div {
    display: flex;
}

.footer-icon {
    color: white;
    font-size: 30px;
    margin: 20px;
}

.footer-icon:hover {
    color: var(--yellow)
}

.footer-copyright {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}


/* RESPONSIVE */

@media all and (max-width: 1249px) {
    nav {
        height: 150px;
    }

    .nav-container {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-logo {
        width: 300px;
    }

    .left-nav-div {
        margin-left: 0;
    }

    .right-nav-div {
        margin-right: 0px;
    }

    .navbar-link {
        align-items: center;
        justify-content: center;
        width: 150px;
    }

}

@media all and (max-width: 700px) {
    nav {
        height: 200px;
    }

    .nav-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-logo {
        width: 300px;
    }

    .right-nav-div {
        margin: 0;
        flex-direction: column;
    }

    .navbar-link {
        margin: 5px 0 0;
    }

    .navbar-link-text {
        margin-right: 0;
    }

    .footer-div {
        padding: 10px;
    }

    .footer-icon {
        margin: 10px;
    }

    .footer-name, .footer-copyright {
        font-size: 14px;
    }
}
