/* CommentsList Component */

.comments-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 30px 30px 30px;
    padding: 0px 40px 10px;
    width: 580px;
    box-sizing: border-box;

}

.comments-list-title {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0;
}

.article-page-comment-form-div {
    width: 500px;
}

.comments-list {
    width: 580px;
    box-sizing: border-box;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0px 40px 20px;
}


/* SingleComment Component */

.comments-list-item {
    border-bottom: 2px solid var(--coral);
    padding: 20px 0;
    margin: 10px auto 10px;
    list-style: none;
    padding-inline-start: 0;
}

.edit-comment-div {
    border-bottom: 2px solid var(--coral);
    padding: 20px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.edit-comment-errors {
    color: var(--coral);
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-comment-form-div {
    display: flex;
    width: 500px;
}

.edit-comment-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 74px;
}

.edit-comment-confirm-button, .edit-comment-cancel-button  {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 0;
    font-size: 30px;
    color: var(--pink);
}

.edit-comment-confirm-button:hover:enabled {
    background-color: var(--white);
    color: var(--pink);
}

.comment-content {
    font-size: 18px;
}

.comment-author {
    padding: 5px 0 5px 50px;
}

.comment-change-div {
    padding: 5px 0 5px 50px;
}

.fa-pencil-alt, .fa-trash-alt {
    font-size: 20px;
    color: var(--coral);
    margin-left: 10px;
}


/* CommentForm Component */

.comment-form-div {
    width: 500px;
    display: flex;
    border-bottom: 2px solid var(--coral);
    padding: 20px 0 30px;
}

.comment-field {
    box-sizing: border-box;
    width: 427px;
    height: 100%;
}

.comment-field::placeholder {
    color: var(--coral);
    font-size: 14px;
}

.comment-submit-button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 3px 10px 0;
    font-size: 40px;
    color: var(--pink);
}

.comment-submit-button[disabled] {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 3px 10px 0;
    font-size: 40px;
    color: var(--yellow);
}

.comment-submit-button:hover:enabled {
    background-color: var(--yellow);
    color: var(--pink);
}


/* DeleteComment Component */

.delete-comment-verify-popup {
    background-color: white;
    padding: 10px 30px 20px;
    border: 20px solid var(--coral)
}

.delete-verify-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* RESPONSIVE */

@media all and (max-width: 659px) {

    .article-page-comment-div, .article-page-comment-form-div, .edit-comment-div, .edit-comment-form-div, .comment-form-div, .comments-list, .comments-list-item, .edit-comment-div {
        width: 330px;
        overflow: auto;
    }

    .comments-list-container {
        padding: 0;
        margin: 0;
    }

    .comment-field {
        width: 250px;
        height: 100%;
    }

    .comments-list {
        padding: 0;
    }

}
