/* CommentsList Component */

.comments-list-container {
    border: 2px solid var(--coral);
    margin: 20px 0px 0px;
    padding: 10px 40px 30px;
}


/* SingleComment Component */

.single-comment-container li{
    margin: 15px 0 0
}
