.discover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
}

.discover-article-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.discover-article-intro p {
    color: black;
    margin: 75px 0 30px;
    font-size: 24px;
    line-height: 1.5;
    width: 88%
}

.discover-article-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discover-article-title {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media all and (max-width: 899px) {
    .discover-article-intro p {
        font-size: 16px;
    }
}
